<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = "https://cdn.tailwindcss.com"></script>
</head>
<body>
    <div class="main min-h-screen w-full text-white bg-zinc-900 p-5 ">
        
        <a href="/" class="text-blue-600 "> Back to main </a>
        <form action="">

        <input type="text" name="title" class="block w-1/4 rounded-md px-5 py-2 bg-zinc-800 mt-2 outline-none " id="" value="<%=filename%>.txt" name="prevoius">
       
        <input type="text" name="title" class="block w-1/4 rounded-md px-5 py-2 bg-zinc-800 mt-2  outline-none" id="" placeholder="New Title" name="NewName">
       
        <input type="submit" value="Create task" class="mt-2 bg-yellow-600 px-2 py-2 rounded-md ">
             

        </form>

    </div>

</body>
</html>